/* body{
  font-family: Consolas;
} */

:root {
  --a: #7C9D00;
  --b: #FFF;
  --c: #F0EACE;
  --d: #9E7CA3;
  --e: #28949c;
}

body {
  margin: 0;
  font-family: DejaVu Sans Mono, monospace;

  background-color: var(--b);
  color: var(--e);

}

.docendo-title h1{  
  font-family: DejaVu Sans Mono, monospace;

  margin:     -30px 10px;
  font-size:  8em;
  text-align: left; 
  font-style: oblique;
}

.App {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.nav{
  margin: none;
  padding:none;
  align-items: center;
  height: 100px;
  background-color: var(--e);
}

.nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;

  padding: 1.2em ;
}

.nav a:hover {
  color: var(--e);
  background-color:white;
}

.auth-container{
  /* text-align: center; */
  border: ;
  margin: 10em auto;
  width: 500px;
}

.App input{
  align-items: center;
  background-color: white;
}

.modal-dialog {
  top: 30%;
  transform: translateY(-50%);
}

.current-courses-container {
  border: 1px solid white;
  display: flex;
  margin:50px auto 100px;
  width: 70vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-container {
  border: 1px solid black;
  width: 250px;
  height: 240px;
  margin:20px;
  padding: 1em;
}

.teacher-index-container{
  display: flex;
  justify-content: space-around;
}

.lesson-details-container{
  border: 1px solid rgb(0, 255, 0);
  display: flex;
  width: 60vw;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
  margin:200px auto 100px;
}
