/* body{
  font-family: Consolas;
} */

:root {
  --a: #7C9D00;
  --b: #7C9DFF;
  --c: #F0EACE;
  --d: #9E7CA3;
  --e: #EAB6F2;
}

body {
  margin: 0;
  font-family:DejaVu Sans Mono, monospace;

  background-color: var(--b);
  color: 

}


.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #c6d3ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav a {
  color: white;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

h1{
  margin: 30px;
}

.App .auth-container{
  text-align: center;
  justify-content: center;
  width: 60%;
}

.App input{
  align-items: center;
}

.current-courses-container {
  border: 1px solid rgb(0, 255, 0);
  display: flex;
  margin:50px auto 100px;
  width: 70vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-container {
  border: 1px solid black;
  width: 250px;
  height: 240px;
  margin:20px;
  padding: 1em;
}

.teacher-index-container{
  display: flex;
  justify-content: space-around;
}

.lesson-details-container{
  border: 1px solid rgb(0, 255, 0);
  display: flex;
  width: 60vw;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
  margin:200px auto 100px;
}
